@import "tailwindcss";
@plugin "daisyui" {
  themes: lemonade, forest;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgd: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgd: 0, 0, 0;
  }
}

body {
  padding: 1rem;
}
